---
import NewsletterForm from "~/components/molecules/NewsletterForm.astro"
import { Icon } from "astro-icon"

const firstColLinks = [
  {
    title: "Company", 
    children: [
      { name: "Blog", href: "/blog" },
      { name: "Docs", href: "/docs" },
      { name: "Contact", href: "mailto:hello@shroud.email" },
    ],
  },
  {
    title: "Comparisons",
    children: [
      { name: "vs. Firefox Relay", href: "/vs/firefox-relay" },
    ],
  },
]

const secondColLinks = [
  {
    title: "Practical",
    children: [
      { name: "Privacy", href: "/privacy" },
      { name: "System status", href: "https://status.shroud.email/" },
    ],
  },
]

const year = new Date().getFullYear()
---
<footer class="bg-gray-800" aria-labelledby="footer-heading">
  <h2 id="footer-heading" class="sr-only">Footer</h2>
  <div class="max-w-7xl mx-auto py-12 px-4 sm:px-6 lg:py-16 lg:px-8">
    <div class="xl:grid xl:grid-cols-3 xl:gap-8">
      <div class="grid grid-cols-2 gap-8 xl:col-span-2">
        <div class="md:grid md:grid-cols-2 md:gap-8">
          {firstColLinks.map(({ title, children }) => (
            <div class="mt-12 md:mt-0">
              <h3 class="text-sm font-semibold text-gray-400 tracking-wider uppercase">{title}</h3>
              <ul role="list" class="mt-4 space-y-4">
                {children.map(({ name, href }) => (
                  <li>
                    <a href={href} class="text-base text-gray-300 hover:text-white">{name}</a>
                  </li>
                ))}
              </ul>
            </div>
          ))}
        </div>
        <div class="md:grid md:grid-cols-2 md:gap-8">
          {secondColLinks.map(({ title, children }) => (
            <div class="mt-12 md:mt-0">
              <h3 class="text-sm font-semibold text-gray-400 tracking-wider uppercase">{title}</h3>
              <ul role="list" class="mt-4 space-y-4">
                {children.map(({ name, href }) => (
                  <li>
                    <a href={href} class="text-base text-gray-300 hover:text-white">{name}</a>
                  </li>
                ))}
              </ul>
            </div>
          ))}
        </div>
      </div>
      <div class="mt-8 xl:mt-0">
        <h3 class="text-sm font-semibold text-gray-400 tracking-wider uppercase">Subscribe to our newsletter</h3>
        <p class="mt-4 text-base text-gray-300">The latest product updates and news, lovingly delivered to your inbox.</p>
        <NewsletterForm class="mt-4 sm:max-w-md" />
      </div>
    </div>
    <div class="mt-8 border-t border-gray-700 pt-8 md:flex md:items-center md:justify-between">
      <div class="flex space-x-6 md:order-2">
        <a href="https://twitter.com/shroud_email" target="_blank" class="text-gray-400 hover:text-gray-300">
          <span class="sr-only">Twitter</span>
          <Icon pack="mdi" name="twitter" class="h-6 w-6" />
        </a>
        <a href="https://github.com/Shroud-email/shroud.email" target="_blank" class="text-gray-400 hover:text-gray-300">
          <span class="sr-only">GitHub</span>
          <Icon pack="mdi" name="github" class="h-6 w-6" />
        </a>
      </div>
      <p class="mt-8 text-base text-gray-400 md:mt-0 md:order-1">&copy; {year} Shroud.email. All rights reserved.</p>
    </div>
  </div>
</footer>

