---
import "../styles/tailwind.css";
import { OPEN_GRAPH, SITE } from "../config";
import { SEO } from "astro-seo";

export interface Props {
  title?: string;
  description?: string;
}
let { title, description } = Astro.props;
title = title
  ? `${title} | ${SITE.title}`
  : `${SITE.title} | Email, meet privacy.`;
const canonicalURL = new URL(Astro.url.pathname, Astro.site);
const canonicalImageSrc = new URL(OPEN_GRAPH.image.src, Astro.site).toString();
const imageAlt = OPEN_GRAPH.image.alt;
---

<html
  class="h-full scroll-smooth antialiased [font-feature-settings:'ss01']"
  lang="en"
>
  <head>
    <meta charset="UTF-8" />
    <link rel="icon" type="image/x-icon" href="/favicon.ico" />
    <meta name="viewport" content="width=device-width" />
    <link
      rel="alternate"
      type="application/rss+xml"
      href="/blog/rss.xml"
      title="RSS"
    />
    <link rel="sitemap" href="/sitemap-index.xml" />

    <script is:inline>
      window.Papercups = {
        config: {
          token: "81a13d1b-a34a-487e-965e-8779ddd855f1",
          inbox: "f01194cc-2fa5-4be5-b2e1-54f42b1fc773",
          title: "Welcome to Shroud.email",
          subtitle: "Ask us anything in the chat window below 😊",
          primaryColor: "#6366F1",
          newMessagePlaceholder: "Start typing...",
          showAgentAvailability: false,
          agentAvailableText: "We're online right now!",
          agentUnavailableText: "We're away at the moment.",
          requireEmailUpfront: true,
          iconVariant: "outlined",
          baseUrl: "https://app.papercups.io",
        },
      };
    </script>
    <script
      type="text/javascript"
      async
      defer
      src="https://app.papercups.io/widget.js"
    ></script>
    <script
      defer
      data-domain="shroud.email"
      data-api="https://shroud.email/p/api/event"
      src="https://shroud.email/p/pjs/script.outbound-links.js"
    ></script>

    <link rel="stylesheet" href="/fonts/inter/inter.css" />
    <link rel="stylesheet" href="/fonts/lexend/lexend.css" />

    <link rel="canonical" href={canonicalURL} />

    <SEO
      title={title}
      description={description ?? SITE.description}
      openGraph={{
        basic: {
          title: title,
          type: "website",
          image: canonicalImageSrc,
          url: canonicalURL.toString(),
        },
        image: { url: canonicalImageSrc, alt: imageAlt },
        optional: {
          siteName: SITE.title,
          locale: OPEN_GRAPH.locale,
        },
      }}
      twitter={{
        card: "summary_large_image",
        title: title,
        description: description ?? SITE.description,
        image: canonicalImageSrc,
        imageAlt: imageAlt,
      }}
    />

    <slot name="head" />
  </head>

  <body class="h-full bg-white dark:bg-slate-900 transition-colors">
    <div class="h-full">
      <slot />
    </div>
  </body>
</html>
